.module-video-selector {

  text-align: center;

  .flexslider {
    margin: 0;
    border: none;
    box-shadow: none;
  }

  .content {

    padding: 0 10%;
  }

  .selected {
    h1, h2, h3, h4, h5, h6 {
      color: red;

    }
  }
}