<div class="module module-header">
  <ul class="header">
    <li class="home <%= home_classes %>"><a href="/"><p>Home</p></a></li>
    <li class="admin <%= admin_classes %>"><a href="/admin"><p>Admin</p></a></li>
  </ul>
</div>