<div class="module module-header">
  <ul class="header">
    <li class="home"><a href="#"><p>Home</p></a></li>
    <li class="page-1"><a href="#/page-1"><p>Page 1</p></a></li>
    <li class="page-2"><a href="#/page-2"><p>Page 2</p></a></li>
  </ul>
</div>