<div class="module module-module-b">
  <div class="module-b">
    <h1>Module B</h1>
    <img src="<%= lorem.image('400x400', :background_color => '333', :color => 'fff', :text => 'FPO') %>" />
    <pre>
      <%= lorem.paragraphs 1 %>
    </pre>
    <img src="<%= lorem.image('400x400', :background_color => '333', :color => 'fff', :text => 'FPO') %>" />
  </div>
</div>