.module-module-b {

  background: lightgrey;

  @include span-columns($grid-columns);

  @include from(4) {
    @include span-columns($grid-columns / 2);
  }

  .module-b {

    padding: 0 0 2em 0;

    @include shift(2);
    @include span-columns(20);

    @include from(4) {
      @include shift(4);
      @include span-columns(16);
    }

    img {
      width: 100%;
      margin: 0 0 2em 0;
    }
  }
}