<div class="module module-video-selector">
  <div class="flexslider"></div>

  <script id="video-selector-template" type="text/x-handlebars-template">
    <div 
      data-index="{{index}}"
      data-video-id="{{video_id}}"
      data-episode-id="{{episode_id}}"
      class="selector content cursor-pointer" 
      >
      <h3>{{title}}</h3>
      <h5>{{description}}</h5>
    </div>
  </script>
</div>