// --------------------------------------------------------------
// *** Page 1
// --------------------------------------------------------------

@import "_page-1";

// --------------------------------------------------------------

body {

  .header {

    .page-1 {

      a {
        pointer-events: none;
        cursor: default;
      }

      p {
        background: red;
      }
    }
  }
}