<div class="module module-video-grid">

  <!--
  <script id="video-grid-template" type="text/x-handlebars-template">
    <div 
      data-index="{{index}}"
      data-video-id="{{video_id}}"
      data-episode-id="{{episode_id}}"
      class="selector cursor-pointer" 
      >
      <img src="{{thumbnails.default.url}}" alt="{{title}}"/>
    </div>
  </script>
-->
</div>