.module-video-grid {

  .bx-wrapper .bx-viewport {

    border: none;
    box-shadow: none;
    left: 0;
    // width: 101.25% !important;
  }

  .bx-viewport {
    // width: 90% !important;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {

    .image-state {

      background: #ccc;
      // padding: 0 5% 0 0;
    }

    img {
      @include span-columns($grid-columns);
    }
  }

  .selector {
  }

  .selected {

    img {
      // width: 99%;
      border: 0.1 * 2 + em solid red;
    }
  }
}