<div class="module module-module-c">
  <div class="module-c">
    <h1>Module C</h1>
    <pre>
      <%= lorem.paragraphs 1 %>
    </pre>
    <img src="<%= lorem.image('400x400', :background_color => '333', :color => 'fff', :text => 'FPO') %>" />
    <pre>
      <%= lorem.paragraphs 1 %>
    </pre>
  </div>
</div>