.module-module-c {

  float: right;
  background: lightgrey;

  @include span-columns($grid-columns / 2);

  .module-c {

    padding: 0 0 2em 0;

    @include shift(4);
    @include span-columns(16);

    img {
      width: 100%;
      margin: 0 0 1em 0;
    }
  }
}