<% content_for :head do %> 

  <title><%= site_title %></title>
  
<% end %>

<% content_for :page_header do %> 

  <%= partial( 
    "project/modules/header/_partial", 
      :locals => { 
        :home_classes => "selected", 
        :admin_classes => "" 
      } 
    ) 
  %>
  
<% end %>